<h1>Добавление нового сотрудника</h1>
<hr>
<%= render 'form', employee: @employee %>
<h4>
<%= link_to 'Назад', employees_path %></h4>
<br /><hr>
<h3><div id="MyFooter">Copyright by Вавилов А. А. группа: М15-ИСТ-3</div></h3>