<h1>Добавление новой должности</h1>
<hr>
<%= render 'form', position: @position %>
<h4>
<%= link_to 'Назад', positions_path %></h4>
<br /><hr>
<h3><div id="MyFooter">Copyright by Вавилов А. А. группа: М15-ИСТ-3</div></h3>