<p id="notice"><%= notice %></p>
<h1>Справочние "Должностей"</h1>
<hr>
<p>
  <strong>Должность:</strong>
  <%= @position.name %>
</p>
<h4>
<%= link_to 'Редактировать', edit_position_path(@position) %> |
<%= link_to 'Назад', positions_path %></h4>
<br /><hr>
<h3><div id="MyFooter">Copyright by Вавилов А. А. группа: М15-ИСТ-3</div></h3>