<p id="notice"><%= notice %></p>
<h1>Справочние "Типов"</h1>
<hr>
<p>
  <strong>Лекарственная форма:</strong>
  <%= @type.typeform %>
</p>
<h4>
<%= link_to 'Редактировать', edit_type_path(@type) %> |
<%= link_to 'Назад', types_path %></h4>
<br /><hr>
<h3><div id="MyFooter">Copyright by Вавилов А. А. группа: М15-ИСТ-3</div></h3>