<h1>Добавление нового клиента</h1>
<hr>
<%= render 'form', client: @client %>
<h4>
<%= link_to 'Назад', clients_path %>
</h4>
<br /><hr>
<h3><div id="MyFooter">Copyright by Вавилов А. А. группа: М15-ИСТ-3</div></h3>
