<h1>Добавление нового типа доставки</h1>
<hr>
<%= render 'form', delivery: @delivery %>
<h4>
<%= link_to 'Назад', deliveries_path %></h4>
<br /><hr>
<h3><div id="MyFooter">Copyright by Вавилов А. А. группа: М15-ИСТ-3</div></h3>