<h1>Редактирование заказа</h1>
<hr>
<%= render 'form', order: @order %>
<h4>
<%= link_to 'Подробнее', @order %> |
<%= link_to 'Назад', orders_path %></h4>
<br /><hr>
<h3><div id="MyFooter">Copyright by Вавилов А. А. группа: М15-ИСТ-3</div></h3>