<h1>Редактирование</h1>
<hr>
<%= render 'form', preparat: @preparat %>
<h4>
<%= link_to 'Подробнее', @preparat %> |
<%= link_to 'Назад', preparats_path %></h4>
<br /><hr>
<h3><div id="MyFooter">Copyright by Вавилов А. А. группа: М15-ИСТ-3</div></h3>