<h1>Редактирование</h1>
<hr>
<%= render 'form', manufacturer: @manufacturer %>
<h4>
<%= link_to 'Подробнее', @manufacturer %> |
<%= link_to 'Назад', manufacturers_path %></h4>
<br /><hr>
<h3><div id="MyFooter">Copyright by Вавилов А. А. группа: М15-ИСТ-3</div></h3>